html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, "Playfair Display", serif;
  color: rgb(70, 69, 69);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

.Title {
  font-size: 2.4rem;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "Lobster Two", cursive;
  color: rgb(255, 163, 57);
}

.container {
  display: flex;
  justify-content: center;
  padding: 1rem;
  height: 80vh;
}

.result-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: whitesmoke;
  border-radius: 20px;
  height: 40%;
  width: 70%;
  padding: 2rem;
}

.result-box h3 {
  text-align: center;
}

.result-box button {
  font-family: "Roboto Slab", serif;
  height: 40px;
  text-transform: uppercase;
  color: rgb(255, 163, 57);
}

main {
  width: 80%;
  background: whitesmoke;
  border-radius: 20px;
  max-width: 600px;
  height: 95%;
}

.Settings-body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  width: 60%;
  height: 60%;
  max-width: 180px;
}

.main-Game {
  padding: 1rem;
  height: 80vh;
  width: 75%;
  margin: 0 auto;
}

.game-prebody {
  background: whitesmoke;
  border-radius: 20px;
  height: 86%;
  padding: 1rem;
}
.Game-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60%;
}

.game-text {
  text-align: center;
}

.game-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 35px;
}

.game-buttons button {
  color: rgb(255, 163, 57);
  height: 30px;
  width: 40%;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
}

.MuiButton-label {
  color: rgb(255, 163, 57);
  font-family: "Roboto Slab", serif;
}
.Settings-Players {
  display: flex;
  flex-direction: column;
}

.Settings-Players label {
  font-size: 22px;
}

h1 {
  text-align: center;
}

label {
  margin: 0 auto;
  margin-top: 15px;
}

.MuiFormControl-root {
  text-align: center;
  border-radius: 4px;
  border-color: red;
}

hr {
  width: 70%;
  height: 1px;
  background-color: rgb(164, 166, 168);
  border-style: none;
}

.Buttons {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

.results-title {
  margin-top: 50px;
}

.MuiSelect-select.MuiSelect-select {
  padding-right: 0px !important;
}

.MinimalSelect-list-4 li.Mui-selected {
  background: rgb(255, 163, 57) !important;
}
